{% load i18n %}

{% if app_list %}
<div class="row g-6">
  {% for app in app_list %}
  <div class="col-xxl-4 col-md-6">
    <div class="card h-100 app-{{ app.app_label }}{% if app.app_url in request.path|urlencode %} current-app{% endif %}">
      <div class="card-header">
        <div class="card-title mb-0">
          <a href="{{ app.app_url }}" class="text-body" title="{% blocktranslate with name=app.name %}Models in the {{ name }} application{% endblocktranslate %}">{{ app.name }}</a>
        </div>
      </div>
      <div class="table-responsive text-nowrap">
        <table class="table table-hover mb-0">
          <tbody class="table-border-bottom-0">
          {% for model in app.models %}
          {% with model_name=model.object_name|lower %}
          <tr class="model-{{ model_name }}{% if model.admin_url in request.path|urlencode %} current-model{% endif %}">
            <td id="{{ app.app_label }}-{{ model_name }}">
              {% if model.admin_url %}
              <a href="{{ model.admin_url }}"{% if model.admin_url in request.path|urlencode %} aria-current="page"{% endif %}>{{ model.name }}</a>
              {% else %}
              {{ model.name }}
              {% endif %}
            </td>
            <td class="text-end">
              {% if model.add_url %}
              <a href="{{ model.add_url }}" class="btn btn-icon btn-text-secondary rounded-pill addlink" aria-describedby="{{ app.app_label }}-{{ model_name }}" title="{% translate 'Add' %}">
                <i class="ri-add-line ri-20px"></i>
              </a>
              {% endif %}
              {% if model.admin_url and show_changelinks %}
                {% if model.view_only %}
                <a href="{{ model.admin_url }}" class="btn btn-icon btn-text-secondary rounded-pill viewlink" aria-describedby="{{ app.app_label }}-{{ model_name }}" title="{% translate 'View' %}">
                  <i class="ri-eye-line ri-20px"></i>
                </a>
                {% else %}
                <a href="{{ model.admin_url }}" class="btn btn-icon btn-text-secondary rounded-pill changelink" aria-describedby="{{ app.app_label }}-{{ model_name }}" title="{% translate 'Change' %}">
                  <i class="ri-pencil-line ri-20px"></i>
                </a>
                {% endif %}
              {% endif %}
            </td>
          </tr>
          {% endwith %}
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<p>{% translate 'You don’t have permission to view or edit anything.' %}</p>
{% endif %}
