{% load i18n %}
<details data-filter-title="{{ title }}" class="mb-4">
  <summary class="fw-medium mb-2">
    {% blocktranslate with filter_title=title %} By {{ filter_title }} {% endblocktranslate %}
  </summary>
  <ul class="list-unstyled mb-0">
  {% for choice in choices %}
    <li{% if choice.selected %} class="selected"{% endif %}>
    <a href="{{ choice.query_string|iriencode }}" class="d-block small{% if choice.selected %} text-primary fw-medium{% else %} text-muted{% endif %}">{{ choice.display }}</a></li>
  {% endfor %}
  </ul>
</details>
