{% load i18n static %}
{% if cl.search_fields %}
<div class="mb-4">
<form id="changelist-search" method="get" role="search" class="d-flex align-items-center flex-wrap gap-2">
<div class="input-group w-px-300">
<span class="input-group-text"><i class="ri-search-line"></i></span>
<label for="searchbar" class="visually-hidden">{% translate 'Search' %}</label>
<input type="text" name="{{ search_var }}" value="{{ cl.query }}" id="searchbar" class="form-control"{% if cl.search_help_text %} aria-describedby="searchbar_helptext"{% endif %}>
</div>
<button type="submit" class="btn btn-primary btn-sm">{% translate 'Search' %}</button>
{% if show_result_count %}
    <span class="small text-muted">{% blocktranslate count counter=cl.result_count %}{{ counter }} result{% plural %}{{ counter }} results{% endblocktranslate %} (<a href="?{% if cl.is_popup %}{{ is_popup_var }}=1{% if cl.add_facets %}&{% endif %}{% endif %}{% if cl.add_facets %}{{ is_facets_var }}{% endif %}">{% if cl.show_full_result_count %}{% blocktranslate with full_result_count=cl.full_result_count %}{{ full_result_count }} total{% endblocktranslate %}{% else %}{% translate "Show all" %}{% endif %}</a>)</span>
{% endif %}
{% for pair in cl.params.items %}
    {% if pair.0 != search_var %}<input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}">{% endif %}
{% endfor %}
</form>
{% if cl.search_help_text %}
<div class="form-text" id="searchbar_helptext">{{ cl.search_help_text }}</div>
{% endif %}
</div>
{% endif %}
